.app-body {
  width: 100%;
}

:root {
  --app-nav-bar-bg-color :  #1a0d00;
  --app-nav-bar-font-color : white;
  --app-font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-align-center {
  text-align: center;
}

.body-left {
  float: left;
}

.body-right {
  float: right;
  padding: 10% 10% 5% 5%;
  padding-right: 200px;
}
